@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-blue-primary: #264698;
  --color-blue-secondary: #3E92D5;
  --color-blue-light: #7BB8E4;
  --color-green-boton-white: oklch(62.7% .194 149.214)/*green-600*/;
  --color-gray-background-secondary: oklch(96.7% .003 264.542)/*gray-100*/;
  --color-gray-background-cards: oklch(98.5% .002 247.839)/*gray-50*/;
}

html, body {
  overflow-x: hidden;
  font-size: 12px;

}

.hero-section-background {

  background: var(--color-blue-light);
  background: radial-gradient(circle,rgba(123, 184, 228, 0.36) 21%, rgba(237, 241, 245, 1) 75%);
}

@layer base {
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}